.app-container {
  display: flex;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar {
  height: 700px;
}

.Posts {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.Delete-button:hover {
  cursor: pointer;
}

.post-card {
  margin: 20px;
}

.reaction-button {
  margin-top: 5px;
}

.tags {
  margin-right: 5px;
}

.like {
  margin-left: 4px;
  margin-bottom: 3px;
}

.Create-Post-form {
  width: 80%;
  margin: 30px 50px;
}

.form-control {
  resize: none;
}

.welcome-messsage {
  margin-top: 20px;
  align-self: center;
}

.header {
  width: 100%;
}

.Loading-Spinner {
}
